# File: requirements.txt

# --- Core ML & Data ----
pandas
numpy
scikit-learn
xgboost

# --- Backend API ---
fastapi
uvicorn[standard]
pydantic
python-multipart

# --- Frontend (Alternatif) ---
streamlit
requests

pyinstaller

# --- Lain-lain ---
# Library ini biasanya udah ada, tapi lebih baik dicantumkan
# pickle (built-in)
# json (built-in)